.highlighted {
  background-color: rgb(243, 193, 205) !important;
  color: #000;
}

.fc-day-today:not(.highlighted) {
  background-color: #fff8cf !important;
  color: #000;
}

.calendar-wrapper {
  position: relative;
  width: 25vw;
  aspect-ratio: 1.5 / 1;
  margin: 1rem auto;
  min-width: 280px;
  min-height: 400px;
}

.calendar-wrapper .fc {
  height: 100% !important;
}

.fc-daygrid-day-frame {
  height: 2vh;
  width: 2vh;
  padding: 2px;
}

thead {
  background-color: rgb(243, 193, 205) !important;
}

.fc-daygrid-day-number {
  font-size: 0.75rem;
  padding: 2px;
}
.fc-daygrid-body {
  height: 100% !important;
}

.fc-prev-button,
.fc-next-button,
.fc-today-button {
  background-color: rgb(243, 193, 205) !important;
  color: black !important;
  border: none !important;
  height: 90% !important;
}

.fc-prev-button:hover,
.fc-next-button:hover,
.fc-today-button:hover {
  background-color: #fff3ae !important;
}

.fc-toolbar-title {
  font-size: 1rem !important;
}

.fc-toolbar {
  height: 5% !important;
}
