.water-intake {
  width: 25vw;
  height: fit-content;
  margin: 1rem;
}

.water-intake-header {
  font-size: 1.5rem;
  font-weight: bold;
}

.water-intake-body {
  display: flex;
  flex-direction: column;
}

.glasses-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.glass-icon {
  width: 50px;
  height: 50px;
}

.water-intake-button {
  height: 2.5vh;
  width: 2vw;
  font-size: 2vh;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background-color: rgb(243, 193, 205);
  margin-right: 10px;
  margin-top: 10px;
}

.water-intake-button:hover {
  background-color: #fdf28e;
  transform: scale(1.05);
}

.water-intake-footer {
  margin-top: 10px;
  font-size: 1.5rem;
}
