.calendar-container {
  margin: 1rem;
}

.mealplan-container {
  background-color: whitesmoke;
  width: 50vw;
  height: fit-content;
  max-width: 700px;
  margin: 1rem;
  border-radius: 20px;
  padding: 10px;
}

.today-text {
  margin: 7%;
  margin-bottom: 3%;
  font-size: 1.5rem;
  font-weight: bold;
}

.meals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 85%;
}

.daily-summary-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.daily-summary-header {
  font-size: 1.5rem;
  font-weight: bold;
}

.daily-summary-content-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.total-calories-text {
  font-size: 1.5rem;
}

.total-macros-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
