.home-exercise-section {
  padding: 8%;
}

.exercise-section-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.exercise-section-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.exercise-section-items {
  max-height: 15vh;
  overflow-y: auto;
  margin-bottom: 12px;
  padding-right: 10px;
  margin-top: 10px;
  width: 40%;
}

.exercise-section-item {
  margin-bottom: 10px;
}

.exercise-section-item-name {
  font-size: 1.2rem;
}

.exercise-section-button {
  font-size: 3vh;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background-color: rgb(243, 193, 205);
  width: 3vw;
  height: 5vh;
}

.exercise-section-button:hover {
  background-color: #fdf28e;
  transform: scale(1.05);
}
