@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  width: 100%;
}

.logo {
  height: 10vh;
  width: auto;
  cursor: pointer;
}

.logo-button {
  cursor: pointer;
  border: none;
  background-color: whitesmoke;
}

.logo-button:hover {
  cursor: pointer;
}

.button-container {
  margin-right: 10px;
  display: flex;
  gap: 10px;
}

.button {
  height: 5.5vh;
  width: 10vw;
  min-width: 100px;
  font-family: "Montserrat", sans-serif, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.3vh;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #fdf28e;
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.98);
}

.login {
  background: rgb(187, 187, 187);
}

.register {
  background: pink;
}

.logout-btn {
  margin-right: 5%;
  background: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  color: #444;
  transition: color 0.2s ease;
}

.logout-text {
  font-size: 1rem;
  font-weight: bold;
}

.logout-btn:hover {
  color: rgb(243, 193, 205);
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
