.verification-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: whitesmoke;
}
.verification-message {
    justify-content: center;
    font-weight: lighter;
    align-items: center;
    margin: 5%;
    color:rgb(118, 37, 56);
}

.message-background {
    margin-top: 100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 193, 205);
    border-radius: 20px;
    width: 80%;
    height: 50%;
    box-shadow:2px 2px 20px rgba(0,0,0,0.2);
}

.message-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
    margin-bottom: 2%;
}
.result-header{
    font-size: 2rem;
    font-weight: bold;
}

.login-link {
    justify-content: center;
    align-items: center;
    margin-left: 5%;

}
.link-itself{
  color:rgb(75, 22, 35);
}