.ingredient-create {
  margin-top: 5rem;
}

.ingredient-create-content {
  background-color: rgb(243, 193, 205);
  padding: 5%;
  border-radius: 30px;
  margin-top: 3%;
}

.ingredient-create-header {
  font-size: 1.2rem;
  margin-left: 5%;
  color: #333;
}

.ingredient-create-title {
  font-weight: bold;
  margin-bottom: 2%;
  color: #333;
}

.ingredient-create-content input {
  width: 100%;
  padding: 3%;
  font-size: 1.5rem;
  border: 1.5px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.create-ingredient-btn {
  background-color: #fdf28e;
  border: solid 1px #ccc;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 30px;
}
.create-ingredient-btn:hover {
  background-color: #f8e751;
  cursor: pointer;
}
