.settings-container {
  display: flex;
  height: 100vh;
  background-color: #f0f4f8;
  padding-left: 0;
  margin: 0;
}

.settings-content {
  flex: 1;
  border-radius: 20px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
}

.settings-title {
    margin-top: 50px;
    margin-left: 80px;
}

.field-wrapper {
  margin-top: 40px;
  margin-left: 80px;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 0;
}

.field-wrapper > * {
  flex: 1 1 45%;
  min-width: 250px;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 30px 80px 30px 80px;
}

