.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
  background-color: whitesmoke;
  max-height: 80%;
}

.background-container {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(223, 157, 173);
  border-radius: 30px;
  box-shadow: 1pt 1pt 3pt rgba(153, 137, 151, 0.723);
}

.form-container {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(244, 231, 234);
  margin: 50px;
  border-radius: 30px;
}

.form-title {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 5%;
  margin-bottom: 2%;
  margin-top: 2%;
}
.form-description{
  font-size: 1.5rem;
  margin: 5%;
  margin-top: 0px;

}
.password-form-field {
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1rem;
  border-radius: 20px;
  max-width: 90%;
  width: 80%;
  height: 25px;
  border: solid;
  background-color: whitesmoke;
  border-width: 0.5px;
  border-color: rgb(153, 137, 151);
  margin: 5%;
  margin-top: 2%;
}

.forgotten-password-button {
  height: 7.5vh;
  width: 15vw;
  min-width: 100px;
  font-family: "Montserrat", sans-serif, sans-serif, bold;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 1.9vh;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background-color: rgb(223, 157, 173);
  color: whitesmoke;
  padding: 10px;
}

.forgotten-password-button:hover {
  background-color:rgb(208, 119, 140);
  transform: scale(1.01);
  box-shadow: 2pt 2pt 6pt rgb(153, 137, 151);
}

.link{
    padding: 3%;
    padding-bottom: 1%;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.slide-in {
  opacity: 0;
  transform: translateX(-6%);
  animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}